.video-no-ctrl video::-webkit-media-controls-enclosure {display: none !important;z-index:9998}
.txt-right {text-align: right;}
.txt-center {text-align: center;}
.txt-left {text-align: left;}
.mar-normal {margin: 10px;}
.mar-hov-xs{margin-left: 8px!important;margin-right: 8px!important;}
.mar-hov-smb{margin-left: 12px!important;margin-right: 12px!important;}
.mar-hov-smb2{margin-left: 15px!important;margin-right: 15px!important;}
.mar-ver-xs{margin-top: 8px!important;margin-bottom: 8px!important;}
.mar-ver-smb{margin-top: 12px!important;margin-bottom: 12px!important;}
.mar-ver-smb2{margin-top: 15px!important;margin-bottom: 15px!important;}
.pad-title {padding: 12px 15px;}
.pad-normal {padding: 10px;}
.pad-big {padding: 15px;}
.pad-hov-smb{padding-left: 12px!important;padding-right: 12px!important;}
.pad-hov-smb2{padding-left: 15px!important;padding-right: 15px!important;}
.pad-bottom-0{padding-bottom: 0!important;}
.abs-center {left: 50%;top: 50%;transform: translate(-50%, -50%);position: absolute;z-index: auto;}
.abs-ver-center {top: 50%;transform: translate(0, -50%);position: absolute;z-index: auto;}
.inb {display: inline-block;vertical-align: middle;}
.inb-top {display: inline-block;vertical-align: top;}
.inbli>li{display: inline-block;vertical-align: middle;}
.block {display: block !important;}
.wh100 {width: 100%;height: 100%;}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.lnh-normal {line-height: 32px;}
.font-big {font-size: 16px;}
.font-normal {font-size: 14px;}
.font-small {font-size: 12px;}
.font-mini {font-size: 10px;}
.pull-right{float:right}
.pull-right::after{clear:both;}
.pull-left{float:left}
.pull-left::after{clear:both;}
.cur-pit{cursor: pointer;}
.abs { position: absolute;}
.rel { position: relative;}
.flexCenter { display: flex;justify-content: center;align-items: center;}
.flexBox { display: flex;}
.flexBox-column { display: flex;flex-direction: column;}
.flexAuto { flex: auto;}
.flex1 { flex: 1;}
.flex10 { flex: 10%;}
.flexShrink0 { flex-shrink: 0}
.flexShrink1 { flex-shrink: 1}

.bg-fff { background: #fff;}
.bg-ccc{background-color: #CCCCCC}
.bg-ed{background-color: #EDEDED}
.bg-a5{background-color: #A5A5A5}
.bg-red{background-color: #dd514c}
.bg-green{background-color: #76D0A4}
.bg-gray {background-color: #F2F5F8}
.bg-aq{background-color: #33B8B8}
.bg-888{background-color: #888}
.bg-fa{background-color: #fafafa;}
.hov-blue-active{background-color: cornflowerblue;}
.hov-blue:hover{background-color: cornflowerblue;}
.col-bbb{color: #bbbbbb}
.col-eee{color:#eeeeee;}
.col-888{color: #888;}
.col-555{color: #555;}
.col-333{color: #333;}
.col-66{color: #666;}
.col-blue{color: #4779ff;}
.col-red{color: #f56c6c;}
.col-green{color: #76D0A4;}
.col-success{color: #2cc590;}
.col-warn{color: #f0ad4e;}
.col-error{color: #ee4040;}
.opacity0{ opacity: 0;}

.abs-right { position: absolute;right: 0;top: 0;}
.abs-bottom { position: absolute;left: 0;bottom: 0;}
.abs-right-bottom { position: absolute;right: 0;bottom: 0;}
.fix { position: fixed}
.mar-center { left: 0;right: 0;margin: auto;}
.cur-pointer { cursor: pointer;}

.pad-top-xl { padding-top: 50px;}
.pad-top-l { padding-top: 30px;}
.pad-top-m { padding-top: 20px;}
.pad-top-s { padding-top: 15px;}
.pad-top-ss { padding-top: 10px;}

.pad-left-xl { padding-left: 50px;}
.pad-left-l2 { padding-left: 40px;}
.pad-left-l { padding-left: 30px;}
.pad-left-m { padding-left: 20px;}
.pad-left-s { padding-left: 15px;}
.pad-left-ss { padding-left: 10px;}
.pad-left-0 { padding-left: 0px !important;}

.pad-right-xxl { padding-right: 60px;}
.pad-right-xl { padding-right: 50px;}
.pad-right-l { padding-right: 30px;}
.pad-right-m { padding-right: 20px;}
.pad-right-s { padding-right: 15px;}
.pad-right-ss { padding-right: 10px;}

.pad-bot-xl { padding-bottom: 50px; }
.pad-bot-l { padding-bottom: 30px;}
.pad-bot-m { padding-bottom: 20px;}
.pad-bot-s { padding-bottom: 15px;}
.pad-bot-ss { padding-bottom: 10px;}

.pad-ver-xl { padding-top: 40px;padding-bottom: 40px;}
.pad-ver-l { padding-top: 30px;padding-bottom: 30px;}
.pad-ver-m2 { padding-top: 25px;padding-bottom: 25px;}
.pad-ver-m { padding-top: 20px;padding-bottom: 20px;}
.pad-ver-mm { padding-top: 15px;padding-bottom: 15px;}
.pad-ver-s { padding-top: 10px;padding-bottom: 10px;}
.pad-ver-ss { padding-top: 5px;padding-bottom: 5px;}

.pad-hov-xl { padding-left: 40px;padding-right: 40px;}
.pad-hov-l { padding-left: 30px;padding-right: 30px;}
.pad-hov-m { padding-left: 20px;padding-right: 20px;}
.pad-hov-mm { padding-left: 15px;padding-right: 15px;}
.pad-hov-s { padding-left: 10px;padding-right: 10px;}
.pad-hov-ss { padding-left: 5px;padding-right: 5px;}
.pad__0 { padding: 0 !important;}

.mar-top-xl { margin-top: 50px;}
.mar-top-l2 { margin-top: 40px;}
.mar-top-l { margin-top: 30px;}
.mar-top-m { margin-top: 20px;}
.mar-top-s { margin-top: 15px;}
.mar-top-ss { margin-top: 10px;}

.mar-left-xl { margin-left: 50px;}
.mar-left-l2 { margin-left: 40px;}
.mar-left-l { margin-left: 30px;}
.mar-left-m { margin-left: 20px;}
.mar-left-s { margin-left: 15px;}
.mar-left-ss { margin-left: 10px;}
.mar-left-0 { margin-left: 0px !important;}

.mar-right-xl { margin-right: 50px;}
.mar-right-l { margin-right: 30px;}
.mar-right-m { margin-right: 20px;}
.mar-right-s { margin-right: 15px;}
.mar-right-ss { margin-right: 10px;}
.mar-right-sss { margin-right: 5px;}
.mar-right-0 { margin-right: 0px !important;}
.mar__right-xl { margin-right: 50px!important;}
.mar__right-l { margin-right: 30px!important;}
.mar__right-m { margin-right: 20px!important;}
.mar__right-s { margin-right: 15px!important;}
.mar__right-ss { margin-right: 10px!important;}

.mar-bot-xl { margin-bottom: 50px; }
.mar-bot-l { margin-bottom: 30px;}
.mar-bot-m { margin-bottom: 20px;}
.mar-bot-s { margin-bottom: 15px;}
.mar-bot-ss { margin-bottom: 10px;}
.mar-bot__m { margin-bottom: 20px !important;}

.mar-ver-xl { margin-top: 40px;margin-bottom: 40px}
.mar-ver-l { margin-top: 30px;margin-bottom: 30px}
.mar-ver-m { margin-top: 20px;margin-bottom: 20px}
.mar-ver-mm { margin-top: 15px;margin-bottom: 15px}
.mar-ver-s { margin-top: 10px;margin-bottom: 10px}
.mar-ver-ss { margin-top: 5px;margin-bottom: 5px}

.mar-hov-xl { margin-left: 40px;margin-right: 40px}
.mar-hov-l { margin-left: 30px;margin-right: 30px}
.mar-hov-m { margin-left: 20px;margin-right: 20px}
.mar-hov-mm { margin-left: 15px;margin-right: 15px}
.mar-hov-s { margin-left: 10px;margin-right: 10px}
.mar-hov-ss { margin-left: 5px;margin-right: 5px}

.txt-bold { font-weight: bold;}
.wd100 { width: 100%;}
.wd80 { width: 80%;}
.wd50 { width: 50%;}
.hei100 { height: 100%;}
.hei50 { height: 50%;}
.height60 { height: 60px;line-height: 60px;}
.height50 { height: 50px;line-height: 50px;}
.height40 {height: 40px;line-height: 40px;}
.height30 {height: 30px;line-height: 30px;}
.height20 { height: 20px;line-height: 20px;}
.line-heigh1 { line-height: 1;}

.font-big-num { font-size: 42px;}
.font-login-title {font-size: 30px;}
.font-xl { font-size: 28px}
.font-l2 { font-size: 24px}
.font-l { font-size: 22px}
.font-m { font-size: 18px}
.font-m2 { font-size: 16px}
.font-s { font-size: 14px}
.font-ss { font-size: 12px}

.font-YaHei { font-family: "Microsoft Yahei";}

.bod-left-000 { border-left: 1px solid #000}
.bod-right-000 { border-right: 1px solid #000}
.bod-top-000 { border-top: 1px solid #000}
.bod-bto-000 { border-bottom: 1px solid #000}
.m-bod { border: 1px solid rgb(208, 210, 215);}
.m-bod-left { border-left: 1px solid rgb(208, 210, 215);}
.m-bod-right { border-right: 1px solid rgb(208, 210, 215);}
.m-bod-top { border-top: 1px solid rgb(208, 210, 215);}
.m-bod-bottom { border-bottom: 1px solid rgb(208, 210, 215);}
.col-fff{ color:#fff;}
.col-000{ color:#000;}
.col-333{ color:#333;}
.col-999{ color:#999;}
.col-eee{ color:#eee;}
.col-ece{ color:#ececec;}
.col-gray{ color: rgb(184, 192, 205);}

.ltr-spac-2 { letter-spacing:2px;}
.ltr-spac-5 { letter-spacing:5px;}
.ltr-spac-10 { letter-spacing:10px;}
.break-all { word-break: break-all;}

.inb-txt-top { display: inline-block;vertical-align: text-top;}
.inb-txt-bottom { display: inline-block;vertical-align: text-bottom;}
.inb-start { display: inline-block;vertical-align: top;}
.inb__start { display: inline-block!important;;vertical-align: top!important;}

.no-button {border: none;background: none;padding: 0 !important;}
.no-button:hover {background: none;}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  } to {
     -webkit-transform: rotate(360deg);
  }
}
.mirror {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
.Rotation {
  -webkit-transform: rotate(360deg);
  animation: rotation 2s linear infinite;
  -moz-animation: rotation 2s linear infinite;
  -webkit-animation: rotation 2s linear infinite;
  -o-animation: rotation 2s linear infinite;
}
